<style>
	.height-fix {
		margin-top: 8px;
	}
</style>

<div class="container-fluid">
	<div class="form-group">

		<div class="row">
			<div class="col-md-6">
				<label>1. Select Industry</label>
				<select class="form-control">
					<option>Legal</option>
					<option>Manufacturing</option>
					<option>Textiles</option>
					<option>Tourism</option>
				</select>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
				<label>2. Company Objective</label>
				<textarea class="form-control" rows="5"></textarea>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6">
				<label>3. Check Company Name Availability</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<input class="form-control" type="text" id="company_name"></input>
			</div>
			<div class="col-md-3">
				<select class="form-control">
					<option>Legal Solutions</option>
					<option>Law Solutions</option>
				</select>
			</div>
			<div class="col-md-3">
				<div class="height-fix"><b>Private Limited</b></div>
			</div>
		</div>
		<br>

		<div id="results_here"></div>

		<div class="row">
			<div class="col-md-6">
				<label>4. Significance of the name</label>
				<textarea class="form-control" rows="5"></textarea>
			</div>
		</div>
		<br>

		<button type="button" class="btn btn-primary">Submit for Name Approval Process</button>

	</div>
</div>

<!--
Bullshit configuration for enabling CORS in elasticsearch
Add the below stuff in elasticsearch.yml file
*********************************************************
http.cors.allow-origin: "/.*/"
http.cors.enabled: true
discovery.zen.ping.multicast.enabled: false
*********************************************************
-->

<script>

$(document).ready(function() {
	$("#company_name").blur(function() {
		getSearchResults($('#company_name').val());
	})
});

function getSearchResults(search_query) {
  var data;
  $.ajax({
    type: "GET",
    crossDomain: true,
    url: 'http://localhost:9200/company/external/_search?q=company_name:' + search_query,
    dataType: "JSON",
    success: function(data) {
			data = JSON.stringify(data);
			document.getElementById('results_here').innerHTML = data;
    }
  });
}

</script>